<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./zr.png">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#2192FF"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

  <title>Zay Resto</title>
</head>
<body>
  <a aria-label="Langsung ke kontent utama" href="#contentArea" class="skip-link" tabindex="1">Langsung ke main konten</a>
  <header>
    <nav tabindex="0" class="navigasi">
      <h1 class="judulHead">Zay Resto</h1>
      <div class="menuMain">
      <div class="menuBar">
          <a aria-label="Tombol Home" href="#/beranda">Home</a>
          <a aria-label="Tombol menuju favorite" href="#/favorite" id="favorite">Favorite</a>
          <a aria-label="Menuju Profile OWner" href="https://github.com/rizalsuryana">AboutUs</a>
      </div>
      </div>
    </nav>
    <!--Hamburger button untuk phoneView-->
    <div class="buttonPhone">
      <button aria-label="Tombol menu SmartPhone" id="smartButton" href="#" tabindex="2">☰</button>
    </div>
  </header>
  <div tabindex="0" class="hero">
    <figure class="heroView">
      <picture>
        <source media="(max-width: 600px)" srcset="./images/hero-image_4-small.jpg">
      <img src="./images/hero-image_4-large.jpg" alt="Hero Photo Zay Resto">
      </picture>
      <figcaption>ZayResto, Berdiri sejak 2022</figcaption>
    </figure>
  </div>
  <main tabindex="0" id="mainContent" class="mainn">

  </main>
  <footer id="cright">
<p>ZayRizal&#169; SIB Dicoding 2022</p>
  </footer>
</body>
</html>